<ion-header>

</ion-header>

<ion-content>
  <div class="profile-header">
    <ion-avatar>
      <img src="./assets/icon/perfil.png" />
    </ion-avatar>
    <ion-button>Editar Perfil</ion-button>
    <ion-button>Compartir Perfil</ion-button>
    <ion-button>
      <img src="./assets/icion/solicitud.png" alt="" />
    </ion-button>
  </div>

  <div class="profile-info">
    <ion-label class="username">MadaiLopezV25</ion-label>
    <ion-label class="bio"></ion-label>
  </div>

</ion-content>
