<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Instagram</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-grid>
    <ion-row class="stories-container">
      <ion-col size="auto">
        <div class="story">
          <ion-avatar class="user-story">
            <img src="./assets/icon/perfil.png" />
          </ion-avatar>
          <ion-icon class="add-icon" name="add-circle-outline"></ion-icon>
        </div>
        <p class="username">Tu historia</p>
      </ion-col>

      <ion-col size="auto">
        <div class="story">
          <ion-avatar class="user-story">
            <img src="./assets/icon/paisaje.png" />
          </ion-avatar>
        </div>
        <p class="username">al.jimnz</p>
      </ion-col>

      <ion-col size="auto">
        <div class="story">
          <ion-avatar class="user-story">
            <img src="./assets/icon/imagen.png" />
          </ion-avatar>
        </div>
        <p class="username">jxxl_19_</p>
      </ion-col>

      <ion-col size="auto">
        <div class="story">
          <ion-avatar class="user-story">
            <img src="./assets/icon/patito.png" />
          </ion-avatar>
        </div>
        <p class="username">yamii_leeth1</p>
      </ion-col>

      <ion-col size="auto">
        <div class="story">
          <ion-avatar class="user-story">
            <img src="./assets/icon/Camino.png" />
          </ion-avatar>
        </div>
        <p class="username">joss_sm0</p>
      </ion-col>

      <ion-col size="auto">
        <div class="story">
          <ion-avatar class="user-story">
            <img src="./assets/icon/belen y ebenezer.png" />
          </ion-avatar>
        </div>
        <p class="username">ilianxn_</p>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/icon/fer.png" />
        </ion-avatar>
        <ion-label>
          <h2>Ferchus_09</h2>
          <p>UTCV</p>
        </ion-label>
        <ion-button fill="clear" slot="end">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-item>
    
      <img alt="Silhouette of mountains" src="./assets/icon/kalev.png" />
    
      <ion-row class="post-actions">
        <ion-col>
          <ion-button fill="clear">
            <ion-icon name="heart-outline"></ion-icon>
            <p> 18</p>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <p> 6 </p>
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    
      <ion-card-content>
        <p><strong>jxxl_19</strong> y otras personas les gusta esto</p>
        <p><strong>ferchus_09</strong> Kalesvianos 🏕️🌄</p>
        <p class="view-comments">Ver los 6 comentarios</p>
      </ion-card-content>
    </ion-card>
    
